// colors

$color-1: #004395; // Haiti
$color-2: #f9c322; // Goblin
$color-3: #ffffff; // White
$color-4: #555555; // White

// fonts 

$primary-font: sans-serif;
$primary-font: 'Open Sans', sans-serif;
